@{
    ViewBag.Title = "Air Cargo";
}

<div class="panel" style="background: #ffffff; border: #ffffff; margin-top: 0px;">
    <div class="row">
        <div class="three columns" style="padding-right: 0px;">
            <div class="row">
                <div class="nine columns" style="padding-right: 0px;">
                    <ul class="side-nav" style="padding-top: 0px; padding-bottom: 0px;">
                        <li>
                            <h6 style="margin-bottom: 0px;">Quick Access</h6>
                        </li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Calculate Time</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Time in Transit</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Tracking a Shipment</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Address Validation</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">UPS Locations</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Pick Up</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="nine columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside1" href="#">UPS Center</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="ten columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside2" href="#">Tracking & Resources</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="nine columns">
                    <h6 style="margin-bottom: 50px;"><a id="linkside3" href="#">Help</a></h6>
                </div>
            </div>
        </div>
        <div class="nine columns" style="padding-left: 0px;">
            <h4 style="color: #ed6c16;">Air Cargo</h4>
            <p>We offer domestic and world-wide air cargo solutions to fit your needs. We work with our partners to offer you a solution that moves your goods door-to-door, airport-to-airport, airport-to-door, door-to-airport.</p>
            <p style="text-align: right">
                <a href="~/Quote/Index">
                    <img src="~/Content/images/requestbtn.png" /></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="nine columns centered">
            <ul class="link-list">
                <li><a href="~/Support/Index">Support Services</a></li>
                <li><a>|</a></li>
                <li><a href="~/Brokerage/Index">Freight Brokerage</a></li>
                <li><a>|</a></li>
                <li><a href="~/Forwarding/Index">Freight Forwarding</a></li>
                <li><a>|</a></li>
                <li><a href="~/Tracking/Index">Tracking and Resources</a></li>
            </ul>
        </div>
    </div>
</div>

