@model IEnumerable<Vital.Model.NewsModel>
@{
    ViewBag.Title = "Services";
}

<title>Services</title>

<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
        <div class="twelve columns">
            <img src="~/Content/images/news.jpg" />
        </div>
    </div>
</div>
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; padding-top: 5px;">
    <div class="row">
        <div class="twelve columns">
            <h2 style="color: #f79020; margin-top: 5px; margin-bottom: 0px;">Services</h2>
            <div id="titleborder"></div>
        </div>
    </div>
    <div class="row">
        <div class="four columns" style="width: 29%;">
            <div class="row">
                <div class="twelve columns">
                    <h5 style="margin-top: 10px; margin-bottom: 5px;"><a id="linkside1" href="~/Services/Index">Freight Brokerage</a></h5>
                    <div id="linkside1border"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px; margin-bottom: 5px;"><a id="linkside2" href="~/Services/Freightforwarding">Freight Forwarding</a></h5>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px; margin-bottom: 5px;"><a id="linkside2" href="~/Services/Support">Support Services</a></h5>
                </div>
            </div>
        </div>
        <div class="eight columns" id="abtborder" style="width: 70%;">
            <div class="row">
                <div class="twelve columns" style="text-align:justify">
                    <h4 style="color: #f6a11d;">Support Services</h4>
                    More services to save you time and money.
                    <br /><br />
                    We understand that our customers have diverse needs that drive their successful businesses. We offer services that are complementary to our Freight Brokerage and Freight Forwarding services.
                     <br/><br/>
                    <ul id="faq" class="disc">
                        <li><p class="toggler" id="toggler-1" style="cursor:pointer; color:#f79020;">Warehousing Pick and Pack</p></li>
                        <p id="widget-1" class="widget" style="display:none; margin-top: 10px;">
                            Should you require full service distribution support, we can help warehouse and facilitate picking and packing of orders with real time order and inventory management.
                          </p>

                        <li><p id="toggler-2" class="toggler" style="cursor:pointer; color:#f79020;">Mass Distribution Services</p></li>
                        <p id="widget-2" class="widget" style="display: none; margin-top: 10px;">
                            Should you require a single distribution of catalogues, promotional materials, samples, or a few consecutive volume distributions, we can produce all the courier labels or LTL bills of lading and proactively track all shipments on your behalf. Send us your distribution list in Excel format for a quote based on the entire job and according to services requirements (courier, LTL, Air Cargo). Once the distribution is completed, we can bill separately by job should that be required saving you’re accounting department the time of sorting for internal cost centers.
                          </p>

                       

                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('body').on('click', '.toggler', function () {
            var id = this.id.split('-');
            var myId = id[1];
            $('#widget-' + myId).focus();
            $(".widget").not("#widget-" + myId).slideUp('slow');
            $('#widget-' + myId).slideToggle('slow');
        });
    });
</script>