@{
    ViewBag.Title = "Vital Freight Forwarding";
}
<div class="panel" style="background: #ffffff; border: #ffffff; margin-top: 0px;">
    <div class="row">
        <div class="three columns" style="padding-right: 0px;">
            <div class="row">
                <div class="nine columns" style="padding-right: 0px;">
                    <ul class="side-nav" style="padding-top: 0px; padding-bottom: 0px;">
                        <li>
                            <h6 style="margin-bottom: 0px;">Quick Access</h6>
                        </li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Calculate Time</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Time in Transit</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Tracking a Shipment</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Address Validation</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">UPS Locations</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Pick Up</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="nine columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside1" href="#">UPS Center</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="nine columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside2" href="#">Tracking & Resources</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="nine columns">
                    <h6 style="margin-bottom: 50px;"><a id="linkside3" href="#">Help</a></h6>
                </div>
            </div>
        </div>
        <div class="nine columns" style="padding-left: 0px;">
            <img src="~/Content/images/Vital_Freight_Fwd.jpg" style="margin-top: 10px;" />
            <p style="margin-top: 10px;">
                We combine the services that our customers require to move their freight door-to-door<br />
                without the hassle of worrying about all the moving parts. We offer consolidated billing<br />
                which is backed by our premium customer service and valuable understanding of what<br />
                your company needs and how it should be done. Our portfolio of reliable partners<br />
                allows us to save our customers money; our customers enjoy the peace of mind that<br />
                comes with relying on the expertise of our Team.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="nine columns centered">
            <ul class="link-list">
                <li><a href="~/Support/Index">Support Services</a></li>
                <li><a>|</a></li>
                <li><a href="~/Brokerage/Index">Freight Brokerage</a></li>
                <li><a>|</a></li>
                <li><a href="~/Forwarding/Index">Freight Forwarding</a></li>
                <li><a>|</a></li>
                <li><a href="~/Tracking/Index">Tracking and Resources</a></li>
            </ul>
        </div>
    </div>
</div>
