@{
    ViewBag.Title = "Air Cargo";
}
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
        <div class="twelve columns">
            <img src="~/Content/images/imgheader.png" />
        </div>
    </div>
</div>
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; padding-top: 5px;">
    <div class="row">
        <div class="twelve columns">
            <h2 style="color: #f79020; margin-top: 5px; margin-bottom: 0px;">Tracking and Resources</h2>
            <div id="titleborder"></div>
        </div>
    </div>
    <div class="row">
        <div class="four columns" style="width: 29%;">
            <div class="row">
                <div class="twelve columns">
                    <h5 style="margin-top: 10px; margin-bottom: 5px;"><a id="linkside1" href="~/Tracking/Index">Tracking and Resources</a></h5>
                    <div id="linkside1border"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px; margin-bottom: 5px;"><a id="linkside2" href="#">Tools</a></h5>
                </div>
            </div>
        </div>
        <div class="eight columns" id="abtborder" style="width: 70%;">
            <div class="twelve columns" style="padding-left: 0px;">
                <h4 style="color: #f6a11d;">Air Cargo</h4>
            </div>
            <div class="twelve columns" style="padding-left: 0px;">
                <dl id="magellanTopNav" class="sub-nav" data-magellan-expedition="fixed">
                    <dt>Index:</dt>
                    <dd class="active" data-magellan-arrival="a"><a href="#a">A</a></dd>
                    <dd data-magellan-arrival="b"><a href="#b">B</a></dd>
                    <dd data-magellan-arrival="c"><a href="#c">C</a></dd>
                    <dd data-magellan-arrival="d"><a href="#d">D</a></dd>
                    <dd data-magellan-arrival="e"><a href="#e">E</a></dd>
                    <dd data-magellan-arrival="f"><a href="#f">F</a></dd>
                    <dd data-magellan-arrival="g"><a href="#g">G</a></dd>
                    <dd data-magellan-arrival="h"><a href="#h">H</a></dd>
                    <dd data-magellan-arrival="i"><a href="#i">I</a></dd>
                    <dd data-magellan-arrival="j"><a href="#j">J</a></dd>
                    <dd data-magellan-arrival="k"><a href="#k">K</a></dd>
                    <dd data-magellan-arrival="l"><a href="#l">L</a></dd>
                    <dd data-magellan-arrival="m"><a href="#m">M</a></dd>
                    <dd data-magellan-arrival="n"><a href="#n">N</a></dd>
                    <dd data-magellan-arrival="o"><a href="#o">O</a></dd>
                    <dd data-magellan-arrival="p"><a href="#p">P</a></dd>
                    <dd data-magellan-arrival="q"><a href="#q">Q</a></dd>
                    <dd data-magellan-arrival="r"><a href="#r">R</a></dd>
                    <dd data-magellan-arrival="s"><a href="#s">S</a></dd>
                    <dd data-magellan-arrival="t"><a href="#t">T</a></dd>
                    <dd data-magellan-arrival="u"><a href="#u">U</a></dd>
                    <dd data-magellan-arrival="v"><a href="#v">V</a></dd>
                    <dd data-magellan-arrival="w"><a style="color: #999">W</a></dd>
                    <dd data-magellan-arrival="x"><a href="#x">X</a></dd>
                    <dd data-magellan-arrival="y"><a href="#y">Y</a></dd>
                    <dd data-magellan-arrival="z"><a style="color: #999">Z</a></dd>
                </dl>
            </div>
            <a name="a" data-magellan-destination="a"></a>
            <h5>A</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.abanair.com/" target="_blank">Aban Air K5 710</a></li>
                <li><a href="http://www.absacargo.com.br/en/MultiRastreamento.asp" target="_blank">ABSA Aerolinhas Brasileiras M3 549</a></li>
                <li><a href="http://www.acg.aero/" target="_blank">ACG Air Cargo Germany 6U 730 </a></li>
                <li><a href="http://www.adria.si/en/article.cp2?linkid=cargo" target="_blank">Adria Airways JP 165</a></li>
                <li><a href="http://www.aegeanair.com/cargo.aspx" target="_blank">Aegean Airlines A3 390</a></li>
                <li><a href="http://www.aerlinguscargo.com/cms/publish/Cargo_Handling/Track.html" target="_blank">Aer Lingus Cargo EI 053</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=EI&Pfx=053"> (more tracking)</a></li>
                <li><a href="http://acr-air.com/cargo/track/index.php" target="_blank">Aero-Charter DW 187 (use format: 187-88888888)</a></li>
                <li><a href="http://eng.aeroflotcargo.aero/" target="_blank">Aeroflot SU 507</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=SU&Pfx=507"> (more tracking)</a></li>
                <li><a href="http://eng.aeroflotcargo.aero/" target="_blank">Aeroflot SU 555</a></li>
                <li><a href="http://www.aerolineas.com.ar/arg/main.asp?idSitio=US&idPagina=186&idIdioma=en" target="_blank">Aerolineas Argentinas AR 044</a></li>
                <li><a href="http://www.aerosvit.ua/eng/index/fservicesnew/onlservnew/bag_dovidka.html" target="_blank">Aerosvit VV 870</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=VV&Pfx=870"> (more tracking)</a></li>
                <li><a href="http://www.skyteamcargo.com/" target="_blank">Aeromexico Cargo AM 139</a><a href="http://www.aeromexpress.com.mx/indexi.cfm"> (more tracking)</a></li>
                <li><a href="http://www.aeromexpress.com.mx/indexi.cfm" target="_blank">Aeromexpress Cargo QO 976</a></li>
                <li><a href="http://www.aerounion.com.mx/tracking/" target="_blank">AeroUnion 6R 873</a></li>
                <li><a href="http://www.africawestcargo.com/" target="_blank">Africa West FK 858</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=AH&Pfx=124" target="_blank">Air Algerie AH 124</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=LM&Pfx=119" target="_blank">Air ALM LM 119</a></li>
                <li><a href="http://www.datacair.com/QryFlightinfo.aspx" target="_blank">Armenia QN 907</a></li>
                <li><a href="http://cargo.airasia.com/" target="_blank">AirAsia D7 843</a></li>
                <li><a href="http://cargo.airasia.com/Track.aspx" target="_blank">AirAsia Berhad AK 807</a></li>
                <li><a href="http://www.datacair.com/QryFlightinfo.aspx" target="_blank">Air Astana KC 465</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=S3&Pfx=318" target="_blank">Air Atlanta Icelandic CC 318</a></li>
                <li><a href="http://www.airbaltic.com/public/cargo.html" target="_blank">Air Baltic BT 657</a></li>
                <li><a href="http://www.airbridgecargo.com/" target="_blank">AirBridge Cargo RU 580 (changed from VI 412)</a></li>
                <li><a href="http://cargotools.aircanada.ca/TrackAndTraceInput.asp" target="_blank">Air Canada AC 014</a></li>
                <li><a href="http://www.airchinacargo.com/en/" target="_blank">Air China CA 999</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=CA&Pfx=999"> (more tracking)</a></li>
                <li><a href="http://cargo.air-europa.com/ferreret/in/WebPantallaPrincipal.html" target="_blank">Air Europa Cargo UX 996</a></li>
                <li><a href="http://www.af-klm.com/cargo/b2b/wps/portal/b2b/" target="_blank">Air France AF 057</a><a href="http://www.traxon.com/afr.htm"> (more tracking)</a> (from USA:<a href=""> Air France</a> tracking)</li>
                <li><a href="http://www.airgreenland.gl/index.php?pageid=29&new_language=1" target="_blank">Air Greenland GL 631</a></li>
                <li><a href="http://www.hactl.com/webapp/hactlpbf/CargoTracking/CargoTracking.jsp?language=en&country=US" target="_blank">Air Hong Kong LD 288</a></li>
                <li><a href="http://home.airindia.in/SBCMS/Webpages/Cargo-Tracking.aspx?MID=200" target="_blank">Air India AI 098</a></li>
                <li><a href="http://www.airjamaica.com/track.aspx" target="_blank">Air Jamaica JM 201</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=JM&Pfx=201"> (more tracking)</a></li>
                <li><a href="http://202.106.139.28/nx/PublicEng/index.aspx?strCul=en" target="_blank">Air Macau NX 675</a></li>
                <li><a href="http://www.datacair.com/QryFlightinfo.aspx" target="_blank">Air Madagascar MD 258</a></li>
                <li><a href="http://web.ana-aviation.com/" target="_blank">Air Malawi QM 167</a></li>
                <li><a href="http://www.traxon.com/amc.htm" target="_blank">Air Malta KM 643</a></li>
                <li><a href="http://www.traxon.com/mau.htm" target="_blank">Air Mauritius MK 239</a></li>
                <li><a href="http://www.airmoldova.md/cargo-check-en/" target="_blank">Air Moldova 9U 572</a></li>
                <li><a href="http://www.airnz.co.nz/aboutus/cargo/default.htm" target="_blank">Air New Zealand NZ 086</a><a href="http://www.cargoserv.com/webtracking/nz/tracking.asp"> (more tracking)</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=PX&Pfx=656" target="_blank">Air Niugini PX 656</a></li>
                <li><a href="http://www.airtahitinui.co.nz/flightsched/flightstatus.asp" target="_blank">Air Tahiti Nui TN 244</a> (flight tracking only)</li>
                <li><a href="http://www.airtransatcargo.com/en" target="_blank">Air Transat TS 649</a></li>
                <li><a href="http://www.alaskaair.com/cargo/" target="_blank">Alaska Airlines AS 027</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=AS&Pfx=027"> (more tracking)</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=AZ&Pfx=055" target="_blank">Alitalia AZ 055</a><a href="http://www.skyteamcargo.com/"> (more tracking)</a></li>
                <li><a href="http://www.alliedairng.com/tracking.html" target="_blank">Allied Air 4W 574</a><a href="http://web.ana-aviation.com/"> (more tracking)</a></li>
                <li><a href="http://www.alohaaircargo.com/shipment-tracking.html" target="_blank">Aloha Air Cargo KH 687</a></li>
                <li><a href="http://www.aacargo.com/" target="_blank">American Airlines AA 001 </a></li>
                <li><a href="https://www.amerijet.com/" target="_blank">Amerijet International M6 810</a></li>
                <li><a href="http://www.ana.co.jp/cargo/en/int/" target="_blank">ANA All Nippon Cargo NH 205</a><a href="http://www.ana.co.jp/cargo/en/int/index.html"> (more tracking)</a></li>
                <li><a href="http://www.euro-cargo.com/Tracking/?awb_carrier=725" target="_blank">Arik Air 725 W3 *</a></li>
                <li><a href="http://www.asianacargo.com/English/tracking/trk_master_air_waybill.jsp" target="_blank">Asiana Airlines OZ 988</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=OZ&Pfx=988"> (more tracking)</a></li>
                <li><a href="http://web.ana-aviation.com/" target="_blank">Astral Aviation 8V 485</a></li>
                <li><a href="https://www.deltacargo.com/dsse1.asp" target="_blank">Atlantic Southeast Airlines EV 862</a></li>
                <li><a href="http://www.atlasair.com/aa/explore.html" target="_blank">Atlas Air 5Y 369</a></li>
                <li><a href="http://www.avient.aero/Track.htm" target="_blank">Avient SMJ 757</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=J2&Pfx=771" target="_blank">Azerbaijan Airlines J2 771 </a></li>

            </ul>
            <a name="b" data-magellan-destination="b"></a>
            <h5>B</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=BG&Pfx=997" target="_blank">Biman Bangladesh BG 997</a></li>
                <li><a href="http://track.magaya.net/trackbynumber/bringer_trackandtrace.htmlhttp://track.magaya.net/trackbynumber/bringer_trackandtrace.html" target="_blank">Bringer Air Cargo E6 417</a></li>
                <li><a href="http://www.baworldcargo.com/" target="_blank">British Airways BA 125</a></li>
                <li><a href="http://www.tradevision.net/res-bma/" target="_blank">British Midland Airways BMI BD 236</a><a href="http://www.flybmi.com/cargo/en-gb/index.aspx"> (more tracking)</a></li>
                <li><a href="http://company.brusselsairlines.com/en_be/corp/b2b-and-corporate/brussels-airlines-cargo/track-and-trace.aspx" target="_blank">Brussels Airlines SN 082</a></li>
                <li><a href="http://www.datacair.com/QryFlightinfo.aspx" target="_blank">Bulgaria Air FB 623</a></li>
                <li><a href="http://booking.buraqair.com:8080/cargo/polno.aspx" target="_blank">Buraq Air Transport UZ 928</a> (Arabic only)<a href="http://web.ana-aviation.com/"> (more tracking)</a></li>

            </ul>
            <a name="c" data-magellan-destination="c"></a>
            <h5>C</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cal.co.il/" target="_blank">CAL Cargo Air Lines 5C 700</a></li>
                <li><a href="http://www.camair-co.cm/tracking/" target="_blank">Camair-Co QC 040</a></li>
                <li><a href="http://www.traxon.com/cp018.htm" target="_blank">Canadian Airlines Int´l CP 018</a></li>
                <li><a href="http://www.cargoitalia.it/" target="_blank">CargoItalia 2G 002</a></li>
                <li><a href="http://www.cargolux.com/Customers/Tracking.php" target="_blank">Cargolux Airlines CV 172</a></li>
                <li><a href="http://cargoluxitalia.com/" target="_blank">Cargolux Italia C8 356</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=BW&Pfx=106" target="_blank">Caribbean Airlines BW 106</a></li>
                <li><a href="http://www.cathaypacificcargo.com/usrapps/eServices/track/track.aspx" target="_blank">Cathay Pacific Airways CX 160</a></li>
                <li><a href="http://www.caymancargo.com/" target="_blank">Cayman Airways KX 378</a></li>
                <li><a href="http://www.centurioncargo.com/en/awb-tracking.php" target="_blank">Centurion Air Cargo WE 307</a></li>
                <li><a href="http://www.china-airlines.com/en/cargo/index.htm" target="_blank">China Airlines CI 297</a></li>
                <li><a href="http://www.cc-air.com/" target="_blank">China Cargo Airlines CK 112</a></li>
                <li><a href="http://cargo.ce-air.com/mu/index.aspx?strCul=en" target="_blank">China Eastern Airlines MU 781</a></li>
                <li><a href="http://cargo.csair.com/en/index.asp" target="_blank">China Southern Airlines CZ 784</a><a href="http://tang.csair.com/EN/WebFace/Tang.WebFace.Cargo/AgentAwbBrower.aspx"> (more tracking)</a></li>
                <li><a href="http://www.cielos-airlines.com/tracking_cliente_e.php" target="_blank">Cielos Airlines A2 529</a></li>
                <li><a href="https://www.deltacargo.com/dsse1.asp" target="_blank">Comair OH 886</a></li>
                <li><a href="http://cargo.cocargo.com/cargo/" target="_blank">Continental Airlines CO 005</a></li>
                <li><a href="http://www.copacargo.com/" target="_blank">Copa Airlines Cargo CM 230</a></li>
                <li><a href="http://www.euro-cargo.com/Tracking/" target="_blank">Corsair SS 923</a></li>
                <li><a href="http://www.coyneair.com/" target="_blank">Coyne Airways 7C 575</a></li>
                <li><a href="#" target="_blank">Croatia Airlines OU 831</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=CY&Pfx=048" target="_blank">Cyprus Airways CY 048</a></li>
                <li><a href="http://www.skyteamcargo.com/" target="_blank">Czech Airlines OK 064</a><a href="http://cargo.czechairlines.com/en/cargo/cargo_home.htm"> (more tracking)</a></li>


            </ul>
            <h5>D</h5>
            <a name="d" data-magellan-destination="d"></a>
            <ul style="list-style-type: none;">
                <li><a href="http://www.delta.com/business_programs_services/delta_cargo/index.jsp" target="_blank">Delta Air Lines DL 006</a><a href="http://www.skyteamcargo.com/"> (more tracking)</a></li>
                <li><a href="https://aviationcargo.dhl.com/webedit/ACGRegions.asp?lang=EN&WebSite=US&page=International" target="_blank">DHL Aero Expreso 992 D5</a></li>
                <li><a href="https://aviationcargo.dhl.com/webedit/ACGRegions.asp?lang=EN&WebSite=US&page=International" target="_blank">DHL Aviation/DHL Airways ER 423</a></li>
                <li><a href="https://aviationcargo.dhl.com/webedit/ACGRegions.asp?lang=EN&WebSite=US&page=International" target="_blank">DHL Aviation / European Air Transport QY 615</a></li>
                <li><a href="http://www.dragonaircargo.com/usrapps/eServices/track/track.aspx" target="_blank">Dragonair KA 043</a></li>
            </ul>
            <a name="e" data-magellan-destination="e"></a>
            <h5>E</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=MS&Pfx=077" target="_blank">Egyptair MS 077</a></li>
                <li><a href="http://www.elal.co.il/ELAL/English/ELALCargo/" target="_blank">EL AL LY 114</a></li>
                <li><a href="http://www.emeryworld.com/tracking" target="_blank">Emery Worldwide EB</a></li>
                <li><a href="http://www.skycargo.com/" target="_blank">Emirates EK 176</a><a href="http://skychain.emirates.com/skychain/app?service=page/nwp:Trackshipmt"> (more tracking)</a></li>
                <li><a href="http://www.tradevision.net/appl/fsr.asp?Owner=RES-ELL" target="_blank">Estonian Air OV 960</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=ET&Pfx=071" target="_blank">Ethiopian Airlines ET 071</a><a href="http://www.datacair.com/QryFlightinfo.aspx"> (more tracking)</a></li>
                <li><a href="http://www.etihadcrystalcargo.com/Cargo/WebForms/CargoTracker.aspx" target="_blank">ETIHAD Airways EY 607</a></li>
                <li><a href="http://www.brcargo.com/AWB/cargoQuery.do?locale=en_us" target="_blank">Eva Airways BR 695</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=BR&Pfx=695"> (more tracking)</a></li>

            </ul>
            <h5>F</h5>
            <a name="f" data-magellan-destination="f"></a>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=EF&Pfx=265" target="_blank">Far Eastern Air Transport EF 265</a></li>
                <li><a href="http://www.fedex.com/us/tracking" target="_blank">Fedex FX 023</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=FX&Pfx=023"> (more tracking)</a></li>
                <li><a href="http://www.finnaircargo.com/" target="_blank">Finnair AY 105</a></li>
            </ul>
            <a name="g" data-magellan-destination="g"></a>
            <h5>G</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=GA&Pfx=126" target="_blank">Garuda Indonesia GA 126</a></li>
                <li><a href="http://www.global-aviationgroup.com/" target="_blank">Global Aviation and Services 5S 301</a><a href="http://www.strike.aero/site/index.cfm"> (more tracking)</a></li>
                <li><a href="http://www.grandstarcargo.com/" target="_blank">Grandstar Cargo GD 800</a></li>
                <li><a href="http://www.gwairlines.com/" target="_blank">Great Wall Airlines IJ 989</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=GF&Pfx=072" target="_blank">Gulf Air GF 072</a><a href="http://www.gfcargo.com/"> (more tracking)</a></li>
            </ul>
            <a name="h" data-magellan-destination="h"></a>
            <h5>H</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://cargo.hnair.com/localization.do?language=en&country=US" target="_blank">Hainan Airlines HU 880 (Hainan Airlines/Chinese)</a></li>
                <li><a href="http://202.106.139.28/HX/Service/index.aspx?strCul=en" target="_blank">Hong Kong Airlines N8 851</a></li>
                <li><a href="http://202.106.139.28/HX/Service/index.aspx?strCul=en" target="_blank">Hong Kong Express UO 128</a></li>
            </ul>
            <a name="i" data-magellan-destination="i"></a>
            <h5>I</h5>
            <ul style="list-style-type: none;">
                <li><a href="https://www.iberia-cargo.com/portalcarga/portlet/en/html/main" target="_blank">Iberia IB 075</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=IB&Pfx=075"> (more tracking)</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=FI&Pfx=108" target="_blank">Icelandair FI 108</a><a href="http://www.icelandaircargo.com/"> (more tracking)</a></li>
                <li><a href="http://www.inselaircargo.com/Tracking.2561" target="_blank">Insel Air Cargo 7I 958 </a></li>
                <li><a href="http://www.iranaircargo.com/" target="_blank">Iran Air IR 096</a><a href="http://www.cargoserv.com/tracking.asp?Carrier=IR&Pfx=096"> (more tracking)</a></li>
            </ul>
            <a name="j" data-magellan-destination="j"></a>
            <h5>J</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.jadecargo.com/" target="_blank">Jade Cargo International JI 189</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=JD&Pfx=234" target="_blank">Japan Air System JD 234</a></li>
                <li><a href="http://www.jal.co.jp/en/jalcargo/" target="_blank">Japan Airlines JL 131</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=JU&Pfx=115" target="_blank">JAT Airways JU 115 </a></li>
                <li><a href="http://cargo.jetairways.com/cargoview/" target="_blank">Jet Airways 9W 589</a></li>
                <li><a href="http://web.ana-aviation.com/" target="_blank">Jetairfly TB 754</a></li>
                <li><a href="http://www.strike.aero/site/index.cfm" target="_blank">Jet Club 0J 254</a></li>
                <li><a href="http://www.jett8airlines.com/" target="_blank">Jett8 Airlines JX 693</a></li>
                <li><a href="http://www.jubba-airways.com/" target="_blank">Jubba Airways 6J</a></li>

            </ul>
            <a name="k" data-magellan-destination="k"></a>
            <h5>K</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.awbtrack.com/" target="_blank">Kalitta Air K4 272</a></li>
                <li><a href="http://www.kenya-airways.com/home/kqcargo/default.html" target="_blank">Kenya Airways KQ 706</a></li>
                <li><a href="http://www.kingfishercargo.com/" target="_blank">Kingfisher Airlines IT 090</a></li>
                <li><a href="http://www.af-klm.com/cargo/b2b/wps/portal/b2b/" target="_blank">KLM Cargo KL 074</a><a href="http://www.skyteamcargo.com/"> (more tracking)</a></li>
                <li><a href="http://cargo.koreanair.com/" target="_blank">Korean Air KE 180</a><a href="http://www.skyteamcargo.com/"> (more tracking)</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=KU&Pfx=229" target="_blank">Kuwait Airways KU 229</a></li>
            </ul>
            <a name="l" data-magellan-destination="l"></a>
            <h5>L</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargotaca.com/" target="_blank">LACSA Airlines of Costa Rica LR 133</a></li>
                <li><a href="http://en.lancargo.com/" target="_blank">LAN Cargo LA 045 </a></li>
                <li><a href="http://etracking.lancargo.com/eTrackingWEB/publico/awbTracking.do?lang=EN&style=LA" target="_blank">LAN Cargo – track multiple airwaybills</a></li>
                <li><a href="http://en.lancargo.com/" target="_blank">LAN Chile Cargo UC 145</a></li>
                <li><a href="http://etracking.lancargo.com/eTrackingWEB/publico/awbTracking.do?lang=EN&style=LA" target="_blank">LAN Chile Cargo – track multiple airwaybills</a></li>
                <li><a href="http://www.auacargo.com/" target="_blank">Lauda Air NG 231</a></li>
                <li><a href="http://ts.leaderjet.com/cargolinktracking/index.htm" target="_blank">Leaderjet 1A 790</a></li>
                <li><a href="http://www.liatairline.com/quikpak.htm" target="_blank">LIAT Airlines LI 140</a></li>
                <li><a href="https://sitasco.sita.com/Tracking.asp?Eac=LN" target="_blank">Libyan Airlines LN 148</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=LO&Pfx=080" target="_blank">LOT Polish Airlines LO 080</a></li>
                <li><a href="http://www.leisurecargo.com/" target="_blank">LTU (Leisure Cargo) AB 745</a></li>
                <li><a href="http://tracking.lhcargo.com/trackit/start.trackit" target="_blank">Lufthansa Cargo AG LH 020</a></li>
            </ul>
            <a name="m" data-magellan-destination="m"></a>
            <h5>M</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.maskargo.com/ecommerce/ost" target="_blank">Malaysian Airline System MH 232</a></li>
                <li><a href="http://www.maskargo.com/ecommerce/ost" target="_blank">Malaysian Airline</a><a href="http://www.hactl.com/webapp/hactlpbf/CargoTracking/CargoTracking.jsp?language=en&country=US"> (more tracking)</a></li>
                <li><a href="#" target="_blank">MALEV Hungarian Airlines MA 182</a></li>
                <li><a href="http://www.mandarin-airlines.com/cargo_new/index.htm" target="_blank">Mandarin Airlines AE 803</a></li>
                <li><a href="http://www.mariosair.com/" target="_blank">Mario’s Air M2 552</a></li>
                <li><a href="http://www.martinaircargo.com/" target="_blank">Martinair Cargo MP 129</a></li>
                <li><a href="http://www.masair.com/" target="_blank">MASAir MY 865</a></li>
                <li><a href="http://www.aeromexpress.com.mx/IndexI.cfm" target="_blank">Mexicana MX 132</a></li>
                <li><a href="http://www.mea.com.lb/English/PlanBook/Pages/Cargo.aspx" target="_blank">Middle East Airlines ME 076</a></li>
                <li><a href="http://www.mngairlines.com/ENG/Homepage.aspx" target="_blank">MNG Airlines MB 716</a></li>
                <li><a href="http://www.moviereviewblog.net/" target="_blank">Movie Reviews MR 711</a></li>
            </ul>
            <a name="n" data-magellan-destination="n"></a>
            <h5>N</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.nationalaircargo.com/" target="_blank">National Air Cargo N8 416</a><a href="http://waptrack.nationalaircargo.com/WebTracking/TrackMultiple.aspx "> (multiple AWB tracking)</a></li>
                <li><a href="http://www.nca.aero/e/index.html" target="_blank">Nippon Cargo Airlines KZ 933</a></li>
                <li><a href="http://www.northernaircargo.com/" target="_blank">Northern Air Cargo NC 345</a></li>
                <li><a href="http://www.delta.com/business_programs_services/delta_cargo/index.jsp" target="_blank">(Northwest Airlines) Delta Air Lines NW 012</a><a href="http://www.skyteamcargo.com/ "> (alternate site)</a><a href="https://www.cargoportalservices.com/lmsweb/tracking-awb.jsp "> (more tracking)</a></li>
            </ul>
            <a name="o" data-magellan-destination="o"></a>
            <h5>O</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=OA&Pfx=050" target="_blank">Olympic Airways OA 050</a><a href="http://www.olympicair.com/en-gb/e-services/cargo-tracking/1660-cargo-tracking.cmt "> (more tracking)</a></li>
            </ul>
            <a name="p" data-magellan-destination="p"></a>
            <h5>P</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=PK&Pfx=214" target="_blank">Pakistan Int´l Airlines PK 214</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=PR&Pfx=079" target="_blank">Philippine Airlines PR 079</a></li>
                <li><a href="http://www.polaraircargo.com/" target="_blank">Polar Air Cargo PO 403</a></li>
                <li><a href="https://www.bookpronto.ca/cargo.php" target="_blank">Pronto Airways ?? ???</a></li>
            </ul>
            <a name="q" data-magellan-destination="q"></a>
            <h5>Q</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.qantas.com.au/freight/online/otracking.html" target="_blank">Qantas Airways QF 081</a></li>
                <li><a href="http://www.qrcargo.com/trackTrace.html" target="_blank">Qatar Airways QR 157 </a></li>
            </ul>
            <a name="r" data-magellan-destination="r"></a>
            <h5>R</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.traxon.com/ram.htm" target="_blank">Royal Air Maroc AT 147</a></li>
                <li><a href="http://royalskies.bruneiair.com/Cargo_Services_Airway_bill_search/faces/airway_bill_search.jsp" target="_blank">Royal Brunei Airlines BI 672</a></li>
                <li><a href="http://www.rj-cargo.com/" target="_blank">Royal Jordanian RJ 512</a></li>
                <li><a href="http://www.atsak.com/servlet/content/airbill_tracking.html" target="_blank">Ryan Air ?? ???</a></li>
            </ul>
            <a name="s" data-magellan-destination="s"></a>
            <h5>S</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.southamericanairways.com/tracking_summary.asp" target="_blank">SAC South American Airways S6 817</a></li>
                <li><a href="http://www.sascargo.com/?NavID=90" target="_blank">SAS-Scandinavian Airlines System SK 117</a></li>
                <li><a href="http://www.sata.pt/en/other-services/cargo-tracking" target="_blank">SATA Air Acores SP 737</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=SV&Pfx=065" target="_blank">Saudi Arabian Airlines SV 065</a> (<a href="http://www.cargoserv.com/webtracking/sv/tracking_sv3.asp ">more tracking</a> – <a href="https://sitasco.sita.aero/Tracking.asp?Eac=SV ">more tracking</a>)</li>
                <li><a href="http://www.shandongair.com.cn/web/shair_zh/" target="_blank">Shandong Airlines SC 324 (Chinese)</a></li>
                <li><a href="http://cargo.shanghai-air.com/default_en.aspx" target="_blank">Shanghai Airlines FM 774</a></li>
                <li><a href="http://219.142.127.41/F4/Service/index.aspx?strCul=en" target="_blank">Shanghai Airlines Cargo F4 825</a></li>
                <li><a href="http://cargo.shenzhenair.com/Service/Default.Aspx" target="_blank">Shenzhen Airlines ZH 479</a><a href=" "> (Chinese)</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=S7&Pfx=421" target="_blank">Siberia Airlines 421 S7 </a></li>
                <li><a href="http://www.scal.com.cn/ScalB2CWeb/News/Freight.aspx?tag=6" target="_blank">Sichuan Airlines 3U 876</a></li>
                <li><a href="http://www.silkway-airlines.com/" target="_blank">Silk Way Airlines 463 ZP </a></li>
                <li><a href="http://www.siacargo.com/" target="_blank">Singapore Airlines SQ 618</a></li>
                <li><a href="https://www.deltacargo.com/dsse1.asp" target="_blank">Sky West Airlines OO 302</a></li>
                <li><a href="http://www.flysaa.com/at/en/Saa_Cargo_new/flysaa_cargo_track_a_shipment.html" target="_blank">South African Airways SA 083</a></li>
                <li><a href="http://www.swacargo.com/swacargo/trackingTrackShipment.htm" target="_blank">Southwest Airlines WN 526</a></li>
                <li><a href="#" target="_blank">South Winds Cargo D4 883</a></li>
                <li><a href="http://www.srilankanskychain.aero/skychain/app?service=page/nwp:Trackshipmt" target="_blank">SriLankan Cargo UL 603</a></li>
                <li><a href="http://www.starlightairline.com/" target="_blank">Starlight Airlines QP 321 </a></li>
                <li><a href="http://www.swissworldcargo.com/" target="_blank">Swiss LX 724</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=RB&Pfx=070 ">Syrian Arab Airlines RB 070</a></li>
            </ul>
            <a name="t" data-magellan-destination="t"></a>
            <h5>T</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=DT&Pfx=118" target="_blank">TAAG-Angola Airlines DT 118</a></li>
                <li><a href="http://www.tabairlines.com/tracking.htm" target="_blank">TAB Transportes Aereos Bolivianos B1 901</a></li>
                <li><a href="http://www.tacacargo.com/" target="_blank">TACA TA 202</a></li>
                <li><a href="http://www.tamexpress.com.br/" target="_blank">TAM Brazilian Airlines JJ 957</a><a> (international tracking ) *</a></li>
                <li><a href="http://www.tampacargo.com/English/home.htm" target="_blank">Tampa Airlines QT 729</a></li>
                <li><a href="http://www.tapcargo.pt/tapcargo/en/" target="_blank">TAP Air Portugal 047 TP</a></li>
                <li><a href="http://www.tarom.ro/en/cargo-services/track-trace/" target="_blank">Tarom 281 RO</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=TG&Pfx=217" target="_blank">Thai Airways TG 217</a><a> (more tracking)</a></li>
                <li><a href="http://www.leisurecargo.com/" target="_blank">Thomson Airways AB 745</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=TL&Pfx=370" target="_blank">TMA Trans Mediterranean Airways TL 370</a></li>
                <li><a href="http://www.tntliege.com/" target="_blank">TNT Airways 3V 756 </a></li>
                <li><a href="http://www.tacacargo.com/" target="_blank">Trans American Airways/TACA Peru T0 530</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=TL&Pfx=270" target="_blank">Trans Mediterranean Airways TL 270</a></li>
                <li><a href="http://www.euro-cargo.com/Tracking/?awb_carrier=199" target="_blank">Tunisair TU 199 *</a></li>
                <li><a href="http://www.turkishcargo.com.tr/cargo/cargo_tracking.aspx" target="_blank">Turkish Airlines TK 235</a></li>
            </ul>
            <a name="u" data-magellan-destination="u"></a>
            <h5>U</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=PS&Pfx=566" target="_blank">Ukraine Int´l Airlines PS 566</a></li>
                <li><a href="http://www.brcargo.com/AWB/cargoQuery.do?locale=en_us" target="_blank">Uni Airways B7 525</a></li>
                <li><a href="http://www.unitedcargo.com/" target="_blank">United Airlines Cargo UA 016</a></li>
                <li><a href="http://www.aircargo.ups.com/aircargo/using/services/actracking/actracking.html" target="_blank">UPS Air Cargo 5X 406</a></li>
                <li><a href="http://www.usairways.com/en-US/traveltools/cargo/ustrackshipments.html" target="_blank">USAirways US 037</a></li>
            </ul>
            <a name="v" data-magellan-destination="v"></a>
            <h5>V</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://www.traxon.com/rg042.htm" target="_blank">VARIG RG 042/183</a></li>
                <li><a href="http://www.cargoserv.com/tracking.asp?Carrier=VN&Pfx=738" target="_blank">Vietnam Airlines VN 738</a></li>
                <li><a href="http://www.strike.aero/site/index.cfm" target="_blank">Vensecar Internacional V4 946</a></li>
                <li><a href="http://www.virgin-atlantic.com/en/us/cargo/index.jsp" target="_blank">Virgin Atlantic VS 932</a></li>
            </ul>
            <a name="x" data-magellan-destination="x"></a>
            <h5>X</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://ecargo.xiamenair.com.cn/ehdxxcx.aspx" target="_blank">Xiamen Airlines MF 731</a></li>
            </ul>
            <a name="y" data-magellan-destination="y"></a>
            <h5>Y</h5>
            <ul style="list-style-type: none;">
                <li><a href="http://219.142.127.40/y8/Service/index.aspx?strCul=en" target="_blank">Yangtze River Express Airlines Y8 871</a></li>
                <li><a href="http://ebooking.champ.aero/trace/IY/trace.asp" target="_blank">Yemenia Yemen Airways IY 635</a><a href="http://www.datacair.com/QryFlightinfo.aspx "> (more tracking)</a></li>
            </ul>
            <p style="margin-top: 50px;">* air cargo tracking for certain routes or when booked through certain cargo agents</p>
        </div>
    </div>
</div>
