@{
    ViewBag.Title = "Parcel Tracking";
}
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
        <div class="twelve columns">
            <img src="~/Content/images/imgheader.png" />
        </div>
    </div>
</div>
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; padding-top: 5px;">
    <div class="row">
        <div class="twelve columns">
            <h2 style="color: #f79020; margin-top: 5px; margin-bottom: 0px;">Tracking and Resources</h2>
            <div id="titleborder"></div>
        </div>
    </div>
    <div class="row">
        <div class="four columns" style="width: 29%;">
            <div class="row">
                <div class="twelve columns">
                    <h5 style="margin-top: 10px; margin-bottom: 5px;"><a id="linkside1" href="~/Tracking/Index">Tracking and Resources</a></h5>
                    <div id="linkside1border"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px; margin-bottom: 5px;"><a id="linkside2" href="#">Tools</a></h5>
                </div>
            </div>
        </div>
        <div class="eight columns" id="abtborder" style="width: 70%;">
            <div class="twelve columns" style="padding-left: 0px;">
                <h4 style="color: #f6a11d;">Parcel Tracking</h4>
            </div>
            <div class="twelve columns" style="padding-left: 0px;">
                <ul class="disc">
                    <li><a href="http://www.dhl.com/" target="_blank">DHL</a> (DHL,&nbsp;Danzas, Eurapid, Euro Express, Euroconnect, <a href="http://track.dhl-usa.com/TrackByNbr.asp" target="_blank">Airborne Express/DHL USA</a>)</li>
                    <li><a href="http://www.fedex.com/us/tracking/" target="_blank">FedEx</a> Federal&nbsp;Express</li>
                    <li><a href="http://www.gdalliance.com/" target="_blank">GDA</a> Global&nbsp;Distribution Alliance</li>
                    <li><a href="http://www.ups.com/tracking/tracking.html" target="_blank">UPS</a>&nbsp;United Parcel Service</li>
                    <li><a href="http://www.usps.com/shipping/trackandconfirm.htm" target="_blank">USPS</a>&nbsp;(United States Postal Service)</li>
                    <li><a href="http://www.purolator.com/track/multi_track.html" target="_blank">Purolator</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
