@{
    ViewBag.Title = "About Us";
}
<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
        <div class="twelve columns">
            <img src="~/Content/images/aboutus.jpg" />
        </div>
    </div>
</div>
<div class="panel" style="background: url('/Content/images/watermark.png') #ededed no-repeat 80% 85%; border: #ededed; margin-top: 0px; padding-top: 5px;">
    <div class="row">
        <div class="twelve columns">
            <h2 style="color:#f79020;margin-top:5px;margin-bottom:0px;">About Us</h2>
            <div id="titleborder"></div>
        </div>
    </div>
    <div class="row">
        <div class="four columns" style="width: 29%;">
            <div class="row">
                <div class="twelve columns">
                    <h5 style="margin-top: 10px;margin-bottom: 5px;"><a id="linkside1" href="~/About/Index">Vital Logistics Ltd.</a></h5>
                    <div id="linkside1border"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px;margin-bottom: 5px;"><a id="linkside2" href="~/About/VitalDifference">The Vital Difference</a></h5>
                    <div id="linkside2border"></div>
                </div>
            </div>
           <!-- <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px;margin-bottom: 5px;"><a id="linkside3" href="~/About/UPSPartnership">UPS Partnership</a></h5>
                    <div id="linkside3border"></div>
                </div>
            </div>!-->
            <div class="row" style="margin-top: 0px;">
                <div class="twelve columns">
                    <h5 style="margin-top: 5px;margin-bottom: 5px;"><a id="linkside4" href="~/About/VitalNetwork">Our Worldwide Network</a></h5>
                </div>
            </div>
        </div>
        <div class="eight columns" id="abtborder" style="width: 70%;">
            <div class="row">
                <div class="twelve columns">
                    <h4 style="color: #f6a11d;">Vital Logistics Ltd.</h4>
                    <p>Vital Logistics Ltd. is a recognized leader in Freight Brokerage and Freight Forwarding. We provide our clients with a wide range of shipping and support services to ease the stress of their shipping departments. Our unique ability to combine multiple partnerships with first class carriers allows us to provide the service and attention that every shipment demands. This benefits our clients while at the same time ensures that their clients receive 100% satisfaction.</p>
                    <p>Our experience has uncovered that in order for shipments to be treated with importance, you must be a large corporation moving a large volume of product. At Vital Logistics Ltd., we understand that small and medium sized enterprises also require and are entitled to first-class logistics services. This is why we take pride in providing customers with exceptional service and great rates that help them gain a competitive edge in their market place regardless of their size or shipping needs.</p>
                    <p>Our high volume discount agreements allow our clients to secure freight pricing that is significantly more aggressive compared with what is typically offered directly by premium carriers. Our customers are not bound to minimum spending thresholds and are always treated with “major account” status.</p>
                    <p>Vital Logistics Ltd. corporate culture is founded on a commitment to provide a service that is amplified; from pickup to delivery. We monitor each order closely so you do not have to. Our mandate is to find ways to improve our service and attention to clients by partnering with the most reputable carriers in the industry. We keep clients informed of industry trends and new technologies that improve the efficiency of their business for a supply chain and logistical standpoint.</p>
                </div>
            </div>
        </div>
    </div>
</div>
