<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>https://86e5809092cb478994f1900a6012ac93.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Vital.Web_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>mynrd</UserName>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Repository.Providers.EntityFramework.DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iypztuwgm5.database.windows.net,1433;Initial Catalog=VITALDB_TEST;Integrated Security=False;User ID=senditoutadmin@iypztuwgm5;Password=VitalAzureDB@123;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Providers.EntityFramework.DataContext, Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VitalConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:iypztuwgm5.database.windows.net,1433;Initial Catalog=VITALDB_TEST;Integrated Security=False;User ID=senditoutadmin@iypztuwgm5;Password=VitalAzureDB@123;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vital.Data.Models.VitalContext, Vital.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Providers.EntityFramework.DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iypztuwgm5.database.windows.net,1433;Initial Catalog=VITALDB_TEST;Integrated Security=False;User ID=senditoutadmin@iypztuwgm5;Password=VitalAzureDB@123;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VitalConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iypztuwgm5.database.windows.net,1433;Initial Catalog=VITALDB_TEST;Integrated Security=False;User ID=senditoutadmin@iypztuwgm5;Password=VitalAzureDB@123;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repository.Providers.EntityFramework.DataContext" />
  </ItemGroup>
</Project>