@{
    ViewBag.Title = "Support Services";
}

<div class="panel" style="background: #ffffff; border: #ffffff; margin-top: 0px;">
    <div class="row">
        <div class="three columns" style="padding-right: 0px;">
            <div class="row">
                <div class="nine columns" style="padding-right: 0px;">
                    <ul class="side-nav" style="padding-top: 0px; padding-bottom: 0px;">
                        <li>
                            <h6 style="margin-bottom: 0px;">Quick Access</h6>
                        </li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Calculate Time</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Time in Transit</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Tracking a Shipment</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Address Validation</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">UPS Locations</span></a></li>
                        <li style="margin-bottom: 0px"><a href="#">&raquo; <span style="text-decoration: underline;">Pick Up</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="nine columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside1" href="#">UPS Center</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="ten columns">
                    <h6 style="margin-bottom: 0px;"><a id="linkside2" href="#">Tracking & Resources</a></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="nine columns">
                    <h6 style="margin-bottom: 50px;"><a id="linkside3" href="#">Help</a></h6>
                </div>
            </div>
        </div>
        <div class="nine columns" style="padding-left: 0px;">
            <h5 style="color: #ed6c16;">More services to save you time and money</h5>
            <h4 style="color: #ed6c16;">Vital Support Services</h4>
            <p>
                We understand that our customers have diverse needs that drive their successful<br />
                businesses. We offer services that are complementary to our Freight Brokerage and<br />
                Freight Forwarding services.
            </p>
            <ul class="disc">
                <li>
                    <h5 style="color: #ed6c16; font-weight: 600;">Warehousing Pick and Pack</h5>
                </li>
                <li style="display: block;">Should you require full service distribution support, we can help warehouse and facilitate picking and packing of orders with real time order and inventory management.</li>
                <li>
                    <h5 style="color: #ed6c16; font-weight: 600;">Mass Distribution Services</h5>
                </li>
                <li style="display: block;">Should you require a single distribution of catalogues, promotional materials, samples, or a few consecutive volume distributions, we can produce all the courier labels or LTL bills of lading and proactively track all shipments on your behalf. Send us your distribution list in Excel format for a quote based on the entire job and according to services requirements (courier, LTL, Air Cargo). Once the distribution is completed, we can bill separately by job should that be required saving you’re accounting department the time of sorting for internal cost centers.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="nine columns centered">
            <ul class="link-list">
                <li><a href="~/Support/Index">Support Services</a></li>
                <li><a>|</a></li>
                <li><a href="~/Brokerage/Index">Freight Brokerage</a></li>
                <li><a>|</a></li>
                <li><a href="~/Forwarding/Index">Freight Forwarding</a></li>
                <li><a>|</a></li>
                <li><a href="~/Tracking/Index">Tracking and Resources</a></li>
            </ul>
        </div>
    </div>
</div>
